.header {
  box-shadow: 0 5px 15px rgb(85, 85, 85);
  display: flex;
  justify-content: center;
  background-color: #cfcfcfce;
  position: absolute;
  width: 100%;
  .right {
    display: flex;
    align-items: center;
    justify-content: center;
    .menu {
      font-family: "Poiret One", cursive;
      font-size: 1.7rem;
      display: flex;
      gap: 3rem;
      a {
        color: black;
        &:hover {
          color: rgb(255, 255, 255);
          transition: 300ms;
        }
      }
    }
  }
  .logo {
      width: 7rem;
      cursor: pointer;
      justify-content: flex-start;
    }
}
.hero {
  background: url(../images/wallpaper1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: fit-content;
  display: flex;
  flex-direction: column;
  .maincontent {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10rem;
    height: 90vh;
    .text {
        display: flex;
        width: fit-content;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h3 {
            font-size: 7rem;
            color: rgb(255, 255, 255);
            font-family: "Bebas Neue", cursive;
            text-shadow: 0 5px 15px rgb(85, 85, 85);
          }
          h2 {
            font-size: 4rem;
            color: rgb(255, 255, 255);
            font-family: "Bebas Neue", cursive;
            text-shadow: 0 5px 15px rgb(85, 85, 85);
          }
          p {
            font-size: 1.5rem;
            font-family: "Bebas Neue", cursive;
            color: white;
            text-shadow: 0 5px 15px rgb(85, 85, 85);
          }
          .boton {
            @extend %button--primary;
            a {
                color: rgb(121, 121, 121);
                &:hover {
                    color: white;
                }
            }
          }
      }
  }
}
.footercontent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(170, 170, 170);
    padding: 1rem;
    font-family: "Bebas Neue", cursive;
    .redes{
        display: flex;
        justify-content: center;
        align-items: center;  
        span {
            color: rgba(255, 255, 255, 0.678);
            padding: 0 1rem;
          }
        p {
            text-align: center;
            color: rgba(255, 255, 255, 0.63);
          }
      }
  }
